/*color: #07EBE5*/
body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

hr {
  border: 0.5px solid #C9DAEA;
}

/*NAV*/

nav {
  display: flex;
  padding: 16px 100px;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #07EBE5;
  margin: 0;
}

.fa-house-damage {
  font-size: 30px;
}

.search ul {
  display: flex;
  list-style: none;
  margin: 0 !important;
  padding: 0;
  border-radius: 15px;
  border: 0.5px solid #C9DAEA;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.search ul:hover {
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);

}

.search li {
  padding: 15px 20px;
  margin: 0;
  font-size: 14px;
  font-weight: lighter;
  color: #717171;
}

.search span {
  border: 0.5px solid #C9DAEA;
}

.search-icon {
  color: #07EBE5;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.btn-primary {
  padding: 15px 20px;
  margin: 0;
  font-size: 14px;
  color: black;
  border: 0.5px solid #C9DAEA;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  border-radius: 40px;
}

.btn-primary:hover {
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.btn-secondary {
  padding: 15px 20px;
  margin: 0;
  font-size: 14px;
  color: black;
  border-radius: 40px;
}

.btn-secondary:hover {
  background-color: #F4FAFF;
}


/*HEADER*/

.header {
  height: 500px;
  position: relative;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2px;
  list-style: none;
  padding-left: 0;
}

#main {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

#grid li {
  height: 100%;
}

#grid img {
  width: 100%;
  height: 100%;
  transition: transform .2s;
}

#grid li:hover img {
  opacity:1;  filter:alpha(opacity=100);
  transform: scale(1.02);
}

#grid:hover img {
   opacity:0.6;  filter:alpha(opacity=30);
}

.btn-group-social {
  position: absolute;
  top: 20px;
  right: 10px;

}

.btn-social {
  background-color: white;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 14px;
  color: #484848;
  border-radius: 5px;
}

.photos {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/*INFOS*/

.container {
  padding: 20px 100px;
  color: #484848;
  display: flex;
  justify-content: space-around;
}

.apt-info {
  width: 50%;
}

.apt-header {
  display: flex;
}

.apt-title {
  padding-right: 50px;
}

.apt-title h1 {
  font-size: 32px;
  margin: 0;
  padding-bottom: 10px;
}

.apt-title p {
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
}

.owner {
  text-align: center;
}

.owner p {
  font-size: 14px;
  margin: 0;
}


.avatar {
  width: 60px;
  border-radius: 50%;
}

.apt-summary {
  display: flex;
  margin: 0 0 20px 0;
}

.apt-summary p {
  font-size: 16px;
  font-weight: lighter;
  padding-right: 20px;
  margin: 0;
}

.details {
  margin: 30px 0;
}

.details h3 {
  font-size: 15px;
}

.details p {
  font-size: 15px;
  font-weight: lighter;
}

.details .fas {
  font-size: 14px;
}

.apt-description {
  margin: 30px 0;
}

.apt-amenities ul {
  list-style: none;
  padding-left: 0;
}

.amenities {
  display: flex;
  justify-content: space-around;
}

.amenities li {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: lighter;
}

.amenities p {
  font-size: 16px;
}

/*BOOKING*/

.apt-booking {
  width: 30%;
  background-color: white;
  border: 0.5px solid #C9DAEA;
  padding: 20px;
}

.apt-booking hr {
  border: 0.5px solid #C9DAEA;
  margin: 20px 10px;
}

.apt-booking .fa-star {
  font-size: 12px;
  color: #07EBE5;
}

.price {
  font-size: 18px;
}

.text-small {
  font-size: 12px;
}

.text-light {
  font-weight: lighter;
}

.booking-title {
  font-size: 16px;
}

.selector {
  margin: 10px 0;
  padding: 10px 30px;
  border: 0.5px solid #C9DAEA;
}

.select {
  margin-bottom: 20px;
}

.price_recap {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.apt-booking button {
  width: 100%;
  color: white;
  font-size: 16px;
  background-color: #07EBE5;
  border-color: #07EBE5;
  padding: 10px 22px;
  margin: 30px 0 0 0;
}

.disclaimer {
  text-align: center;
  font-size: 12px;
}

/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #grid {
    display: none;
  }

}*/



